<div class="container-fluid">
  <div class="px-lg-5">

    <!-- For demo purpose -->

    <form class="form-inline">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let c of characters | appFilter: searchText"
            appHighlight [searchedWord]="searchText" [content]="c"  
            [classToApply]="'font-weight-bold'" [setTitle]="'true'">
            {{c}}
          </li>
        </ul>
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <div class="typebutton">
      <button type="button" class="btn btn-success" name="button">Single</button>
      <button type="button" class="btn btn-success" name="button">FFA</button>
      </div>
    </form>

    <div class="row">

      <div class="col-xl-3 col-lg-4 col-md-6 mb-4" *ngFor="let game of gameslist">
        <div class="bg-dark rounded shadow-sm"><img src="https://media.hitekno.com/thumbs/2019/08/03/24548-fifa-20/730x480-img-24548-fifa-20.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">{{game.nama}}</a></h5>
            <p class="small text-muted mb-0">{{game.description}}</p>
            <br>
            <ul>
              <li><i class="fas fa-user-check"></i><small> &nbsp; participant</small></li>
              <li><i class="far fa-clock"></i>&nbsp;<small></small></li>
            </ul>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-dark px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fas fa-gamepad"></i>&nbsp;<small
                  class="font-weight-bold"></small></p>
              <a routerLink=""
                class="badge badge-danger px-3 rounded-pill font-weight-normal">view</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <nav aria-label="page navigation example">
      <ul class="pagination py-5 text-right">
        <li class="page-item" (click)="onClickPage(activePage - 1)"><a href="javascript:void(0);" class="page-link btn px-5 py-3 text-uppercase">&laquo; Previous</a></li>
        <li class="page-item" [ngClass]="{'active': activePage === item}" *ngFor="let item of pages" (click)="onClickPage(item)"><a href="javascript:void(0);" class="page-link btn px-5 py-3 text-uppercase">{{item}}</a></li>
        <li class="page-item" (click)="onClickPage(activePage + 1)"><a href="javascript:void(0);" class="page-link btn px-5 py-3 text-uppercase">Next &raquo;</a></li>
      </ul>
    </nav>
  </div>
</div>
