
.banner {
  background: #a770ef;
  background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);

}

.jumbotron{
  -webkit-filter:contrast(-10%);
  position: relative;
  background:orange;
  background: #eee;
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}
ul{
  list-style-type: none;
}
.fa-search{
  color:red;
}
