<div class="container">

<section class="content">
     <div class="container-fluid">
       <!-- Info boxes -->
       <div class="row">
         <div class="col-12 col-sm-6 col-md-3">
           <div class="info-box">
             <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

             <div class="info-box-content">
               <span class="info-box-text">Add game</span>
               <span class="info-box-number">
                <button type="button" class="btn btn-primary" name="button" data-toggle="modal" data-target="#exampleModal">Add game</button>
               </span>
             </div>

           </div>

         </div>

         <div class="col-12 col-sm-6 col-md-3">
           <div class="info-box">
             <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

             <div class="info-box-content">
               <span class="info-box-text">Create Rule game</span>
               <span class="info-box-number">
                <button name="button" class="modal-button" data-toggle="modal" data-target="#myModal">Add Role</button>
               </span>
             </div>

           </div>

         </div>

         <div class="col-12 col-sm-6 col-md-3">
           <div class="info-box mb-3">
             <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

             <div class="info-box-content">
               <span class="info-box-text">Participant</span>
               <button type="button" class="btn btn-primary" name="button" data-toggle="modal" data-target="#exampleModal">Participant</button>
             </div>
             <!-- /.info-box-content -->
           </div>
           <!-- /.info-box -->
         </div>
         <!-- /.col -->
       </div>
       <!-- /.row -->

       <div class="row">
         <div class="col-md-12">
           <div class="card">
             <div class="card-header">
               <h5 class="card-title">Monthly Recap Report</h5>

               <div class="card-tools">
                 <button type="button" class="btn btn-tool" data-card-widget="collapse">
                   <i class="fas fa-minus"></i>
                 </button>
                 <div class="btn-group">
                   <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                     <i class="fas fa-wrench"></i>
                   </button>

                 </div>
                 <button type="button" class="btn btn-tool" data-card-widget="remove">
                   <i class="fas fa-times"></i>
                 </button>
               </div>
             </div>
             <!-- /.card-header -->
             <div class="card-body">
               <div class="row">
                 <div class="col-md-8">
                   <p class="text-center">
                     <strong> All Data Signup Participant </strong>
                   </p>

                   <table id="example" class="display" style="width:100%">
              <thead>
              <tr>
                <th>Type Game</th>
                <th>Nama</th>
                <th>age</th>
                <th>acces</th>
                <th>action</th>
              </tr>
            </thead>
        <tbody>
            <tr>
                <td>Tiger</td>
                <td>Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td><a href="#"><i class="fa fa-delete"></i></a></td>
            </tr>

        </tbody>
    </table>

                 </div>
               </div>
             </div>
             <app-addgame></app-addgame>
             <app-addrule></app-addrule>
