<div class="container">

<section class="content">
     <div class="container-fluid">
       <!-- Info boxes -->
       <div class="row">
         <div class="col-12 col-sm-6 col-md-3">
           <div class="info-box">
             <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

             <div class="info-box-content">
               <span class="info-box-text">NNA Traffic</span>
               <span class="info-box-number">
                <button type="button" class="btn btn-primary" name="button" data-toggle="modal" data-target="#exampleModal">Add game</button>
               </span>
             </div>
             <!-- /.info-box-content -->
           </div>
           <!-- /.info-box -->
         </div>
         <!-- /.col -->

         <div class="col-12 col-sm-6 col-md-3">
           <div class="info-box mb-3">
             <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

             <div class="info-box-content">
               <span class="info-box-text">New Members</span>
               <button type="button" class="btn btn-primary" name="button" data-toggle="modal" data-target="#exampleModal">Add Lurah</button>
             </div>
             <!-- /.info-box-content -->
           </div>
           <!-- /.info-box -->
         </div>
         <!-- /.col -->
       </div>
       <!-- /.row -->

       <div class="row">
         <div class="col-md-12">
           <div class="card">
             <div class="card-header">
               <h5 class="card-title">Monthly Recap Report</h5>

               <div class="card-tools">
                 <button type="button" class="btn btn-tool" data-card-widget="collapse">
                   <i class="fas fa-minus"></i>
                 </button>
                 <div class="btn-group">
                   <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                     <i class="fas fa-wrench"></i>
                   </button>

                 </div>
                 <button type="button" class="btn btn-tool" data-card-widget="remove">
                   <i class="fas fa-times"></i>
                 </button>
               </div>
             </div>
             <!-- /.card-header -->
             <div class="card-body">
               <div class="row">
                 <div class="col-md-8">
                   <p class="text-center">
                     <strong>Lurah: 1 Jan, 2014 - 30 sep, 2020</strong>
                   </p>

                   <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Type User</th>
                <th>Role User</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lurah</td>
                <td>Nixon</td>
                <td><i class="fab fa-pencil"></i></td>
                <td><i class="fa fa-remove"></i></td>
            </tr>
        </tbody>
    </table>

                 </div>
               </div>
             </div>

             <app-lurah></app-lurah>
