.jumbotron{
  margin-top:10px;
  -webkit-filter:contrast(-10%);
  position: relative;
  background-size: cover;
  background-image: url('https://coverfiles.alphacoders.com/455/45542.jpg');
}

.arena{
  font-size:35px;
  color:orange;
  font-weight: bold;
  margin-top:100px;
}
.container{
  height: 380px;
  position: relative;
}
input[type=text]{
  color:white
}

@media only screen and (max-width: 600px) {
  .jumbotron{
    margin-top:20px;
    background-size:cover;

    height:270px;
    background-image: url('https://s3.ap-southeast-1.amazonaws.com/magazine.job-like.com/magazine/wp-content/uploads/2018/06/08124336/pubg.0.jpg');
  }
  .title{
    display:none;
  }
  h1{
    display:none;
  }
  .container{
    height: 250px;
  }
  .arena{
    display:none;
  }
  .btn{
    margin-top:40px;
    height: 40px;
    background-color: orange;
  }
}
@media only screen and (max-width: 800px) {
  .jumbotron{
    margin-top:20px;
    background-size: 100%;
    background-image: url('https://s3.ap-southeast-1.amazonaws.com/magazine.job-like.com/magazine/wp-content/uploads/2018/06/08124336/pubg.0.jpg');
  }
  span{
    display:none;
  }
  .btn{
    border:none;
    margin-top:100px;
    border-radius:10px;
  }
  .container{
    height: 165px;
  }
  .arena{
    display:none;
  }
}

/* textcss */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	background-color: #111;
}

.title {
	font-family: "Montserrat";
	color: #FFF;
	display: flex;
	flex-direction: column;
	height: 100vh;
	letter-spacing: 1px;
}

h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 90px;
	line-height: .75;
	margin: 10px 0;
}
/* styling my button */

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}
