<div class="body"></div>


		<div class="wrapper fadeInDown">
		  <div id="formContent">
		    <!-- Tabs Titles -->

		    <!-- Icon -->
		    <div class="fadeIn first">
		      <img src="../../../assets/nnagame.png" id="icon" alt="User Icon" />
		      <h1>NNA Sport</h1>
		    </div>

		    <!-- Login Form -->
		    <form>
					<input type="email" placeholder="your email" name="email"><br>
		      <input type="submit" class="fadeIn fourth bg-warning" value="Forgot">
		    </form>

		  </div>
		</div>
