<div class="container">
  <main class="bd-masthead" id="content" role="main">
    <div class="container">
      <div class="row">
        <div class="col-6 mx-auto col-md-4 order-md-2">
          <img src="../../../assets/img/panda.png" alt="">
        </div>
        <div class="col-md-8 order-md-1 text-center text-md-left pr-md-5">
          <h1 class="mb-3"><span class="august"> 17 <span class="text-august">August</span> </span> Let's make fun and play game and to be the winner</h1>
          <p class="lead mb-4 text-primary">
            in our village make a event 17 august that's not event panjat pinang thats is play game
            game <b>E-sport</b> thats game is the best for this jaman
          </p>
          <p class="text-muted mb-0">
            Indonesia 17 August
          </p>
        </div>
      </div>
    </div>
  </main>
</div>
