<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">This for lurah</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form>
              <div class="form-group">
                  <label for="email">email</label>
                  <input id="email" class="form-control" required type="email" name="email">
               </div>
               <div class="form-group">
                  <label for="password">password</label>
                  <input id="password" class="form-control" required type="password" name="password">
               </div>
               <div class="form-group">
                  <label for="keluarahan">Kelurahan</label>
                  <input id="kelurahan" class="form-control" required type="text" name="kelurahan">
               </div>
               <div class="form-group">
                  <label for="keluarahan">Game type age</label>
                  <input id="kelurahan" class="form-control" required type="text" name="kelurahan" placeholder="12 tahun">
               </div>
               <button type="submit" class="btn btn-primary">Save</button>
            </form>
         </div>
      </div>
   </div>
</div>
