
<app-banner></app-banner>
<h1>BEST GAME POPULER</h1>
<a routerLink="listgame">view history game</a>

<!--card semua ini masih hard code jadi numpuk jikalau udah ada backend ini akan simple-->

<app-contactjoin></app-contactjoin>
<!--content-->
<div class="container">
  <div class="row">
    <div class="col text-game">
      <app-opengame></app-opengame>
    </div>
    <div class="col tengkorak">
      <img src="../../../assets/img/tengkorak.png" alt="">
    </div>
    <app-listplayer></app-listplayer>
  </div>
</div>
<app-threeimagebanner></app-threeimagebanner>
