mdb-card {
  background: black;
}

nav {
  color: white;
}

mdb-icon {
  cursor: pointer;
}
app-opengame{
  position:relative;
}
.text-game{
  margin:30px 40px 10px 20px ;
}
.container {
  margin-top:20px;
  width: 100%;

  position: relative;
}


.content-image {
  width: 50px;
  height: 20px;
  position: absolute;
  float:right;
}

@media only screen and (max-width: 600px) {
  app-banner{
    display:none;
  }
  .tengkorak{
    display:none
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  height:250px;
  text-align: center;
  background-color: #f1f1f1;
  margin:10px;
}
/* card new */
