<div class="container">
  <div class="row">
    <div class="col-sm">
    <img src="https://static.republika.co.id/uploads/images/inpicture_slide/pubg_200428114349-263.jpg" alt="">
    </div>
    <div class="col-sm">
      <img src="https://static.republika.co.id/uploads/images/inpicture_slide/pubg_200428114349-263.jpg" alt="">
    </div>
    <div class="col-sm">
      <img src="https://static.republika.co.id/uploads/images/inpicture_slide/pubg_200428114349-263.jpg" alt="">
    </div>
  </div>
</div>
