
.mt-100 {
    margin-top: 100px
}

.modal-button {
    background-color: rgb(29, 226, 226);
    border-color: rgb(29, 226, 226);
    border-radius: 6px;
    color: white;
    font-size: 17px;
    padding-right: 76px;
    padding-left: 76px
}

.card {
    border-radius: 3vh;
    margin: auto;
    max-width: 380px;
    padding: 7vh 6vh;
    align-items: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

@media(max-width:767px) {
    .card {
        width: 90vw
    }
}

.card-img {
    padding: 20px 0;
    width: 40%
}

.card-img img {
    opacity: 0.7
}

.card-title {
    margin-bottom: unset
}

.card-title p {
    color: rgb(29, 226, 226);
    font-weight: 900;
    font-size: 30px;
    margin-bottom: unset
}

.card-text p {
    color: grey;
    font-size: 25px;
    text-align: center;
    padding: 3vh 0;
    font-weight: lighter
}

.btn {
    width: 100%;
    background-color: rgb(29, 226, 226);
    border-color: rgb(29, 226, 226);
    border-radius: 25px;
    color: white;
    font-size: 20px
}

.btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none
}

.btn:hover {
    color: white
}
