<div class="row">
  <div class="col-md-4">
    <div id="draggable-move" class="card">
      <h5 class="card-header primary-color white-text">Draggable panel</h5>
      <div class="card-body">
        <p class="card-text">I have a 'move' cursor positioned in the center</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div id="draggable-pointer" class="card">
      <h5 class="card-header deep-orange white-text">Draggable panel</h5>
      <div class="card-body">
        <p class="card-text">I have a pointer cursor positioned in the top left corner</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div id="draggable-crosshair" class="card">
      <h5 class="card-header success-color white-text">Draggable panel</h5>
      <div class="card-body">
        <p class="card-text">I have a crosshair cursor positioned on the bottom</p>
      </div>
    </div>
  </div>
</div>
