<div class="body"></div>


		<div class="wrapper fadeInDown">
		  <div id="formContent">
		    <div class="fadeIn first">
		      <img src="../../../assets/nnagame.png" id="icon" alt="User Icon" />
		      <h1>NNA Sport</h1>
		    </div>

		    <form>
					<input [(ngModel)]="loginData.email" type="email" placeholder="email@example.com" name="email"><br>
	 				<input [(ngModel)]="loginData.password" type="password" placeholder="password" name="password"><br>
		      <input (click)="signinUser()" type="submit" class="fadeIn fourth" value="Log In"><br>
					<a routerLink="forgot" class="underlineHover text-danger"><small>Forgot Password</small></a> <br>

		    </form>

		    <div id="formFooter">
				<a class="underlineHover text-dark" routerLink="signup">Go to the signup</a>
				<br><small>signup with</small>
				<br>
				<a href="#" class="fab fa-facebook"></a> &nbsp;
				<a href="#" class="fab fa-google"></a>
		    </div>

		  </div>
		</div>
